body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:90%;
}

.intro {
    background-color: #f49f1f2b;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   
}
.intro1{
    background-color: #f49f1f2b;
    width:97%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.heading{
    background-image: linear-gradient(#f49f1f,#f8be7384);
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   color:#4e2a03;
}
.container1 {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    background-color: #f49f1f75;
}
.form-group {
    text-align: left;
    margin-bottom: 15px;
    font-family: sans-serif;
    color:#4e2a03;
    font-size: large;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
a{
   color:#0056b3
}
a:hover{
   color:#007BFF
}
.footer{
    display: block;
    width:100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    background-color: #f49f1f75;
}